.blog-page{
    .container{
        width: 970px;
    }
}

.post{
   @include flex(space-between);
   background-color: $color3;
   margin-bottom: 31px;
   .post__image{
       width: 380px;
       height: 370px;
       img{
         width: 100%;
         height: 100%;
       }
   }
   .post__info{
       width: calc(100% - 380px);
       padding: 30px 98px 30px 30px;
       .h2{
          text-transform: none;
          max-height: 72px;
          overflow: hidden;
       }
       .post__description{
          height: 93px;
          overflow: hidden;
       }
   }
   hr{
      width: 102%;
      margin-left: -1%;
   }
}
.post__author-link{
    text-decoration: underline;
}
.pagination{
  border-bottom: 1px solid $color3;
  width: 230px;
  margin: 50px auto;
  ul{
    @include ul-inline-not-dots;
    justify-content: space-between;
    li{
      a{
        padding: 15px;
        display: block;
        font-family: $family1;
        font-size: 17px;
        border-bottom:2px solid transparent;
        &.active{
          font-family: $family1-bold;
          border-bottom:2px solid #fff;
        }
      }
    }
  }
}

@media(max-width:1100px){
  .blog-page{
      .container{
          width: 90%;
      }
  }
  .post{
      .post__image{
          width: 320px;
      }
      .post__info{
          width: calc(100% - 320px);
          padding: 30px 5% 30px 30px;
      }
  }
}

@media(max-width:900px){
  .blog{
      .container{
          width: 94%;
      }
  }
  .post{
      .post__image{
          width: 300px;
      }
      .post__info{
          width: calc(100% - 300px);
          padding: 30px 5% 30px 30px;
      }
  }
}

@media(max-width:768px){
  .post{
      .post__image{
          width: 230px;
          height: 350px;
      }
      .post__info{
          width: calc(100% - 230px);
          padding: 20px 20px 20px 20px;
          .h2{
              margin-bottom: 20px;
              font-size: 22px;
          }
          p{
            font-size: 15px;
          }
      }
  }
}
@media(max-width:600px){
  .post{
      flex-wrap: wrap;
      .post__image{
          width: 100%;
      }
      .post__info{
          width: 100%;
          .h2{
              max-height: none;
          }
      }
  }
}
@media(max-width:400px){
  .post{
      .post__image{
          height: 300px;
      }
  }
}
@media(max-width:350px){
  .post{
      .post__image{
          height: 280px;
      }
  }
}
