#big-map{
    width: 100%;
    height: 721px;
    margin-top: 113px;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .container{
        @include flex(flex-end);
    }
    .big-map-info{
        padding: 40px 100px;
        background-color: $color3;
        width: 470px;
        margin-top: -42px;
    }
}
@media(max-width:768px){
    #big-map{
        height: 550px;
    }
}
@media(max-width:600px){
    #big-map{
        height: 450px;
        .big-map-info{
            padding: 30px 15%;
            width: 100%;
        }
    }
}
@media(max-width:400px){
    #big-map{
        .container{
            padding: 0;
        }
        .big-map-info{
            padding: 30px 20px;
        }
    }
}