.about-us{
    .left-block{
        padding-right: 60px;
        .description{
            margin-bottom: 52px;
        }
    }
}
.specialization{
    @include flex(space-between);
}
#map_canvas{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.map{
    position: relative;
    height: 416px;
    img{
        height: 100%;
    }
    .map__info{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 170px;
        background-color: $color3;
        padding: 25px 16px;
        > p{
            font-size: 14px;
            font-family: $family1;
            line-height: 1.5;
            color: #fff;
        }
        .map__number{
            margin-bottom: 20px;
        }
        .map__email{
            margin: 5px;
        }
        .map__address{
            margin: 5px;
        }
    }
}
.contact-form{
    form{
        .cf7-flex-wrap{
            display: flex;
            flex-wrap: wrap;
            .input-field{
                width: 48%;
                margin-right: 4%;
                margin-bottom: 30px;
                &:nth-child(2n){
                    margin-right: 0;
                }
            }
        }
        textarea{
            margin-bottom: 22px;
            height: 160px;
        }
        p{
          margin: 0;
        }
    }
}

//Server page stylesheet
#wpgmza_map{
  height: 416px !important;
}
@media(max-width:480px){
    .about-us{
        .left-block{
            padding-right: 0;
        }
    }
    .contact-form{
        form{
            .cf7-flex-wrap{
                .input-field{
                    width: 100%;
                    margin-right: 0%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}