@font-face{
    font-family:'Montserrat-Bold';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}

@font-face{
    font-family:'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}